
body {
    background-image: url('backgroung.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 50px;
}
div.a{
    text-align: center;
}
text.a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
}
text.b{
    font-size:50px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:rgb(197, 243, 255);
}

table {
    border-spacing: 10px;
}

.button {
    background-color: rgb(2, 153, 212);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.2s;
    
}
.button_large_font{
    padding: 15px 30px;
    font-size:25px;
    background-color: rgb(63, 95, 165); 
    color: rgb(212, 243, 255); 
    border-radius: 10px;
}
.button_large_font:hover {
    background-color: rgb(7, 248, 248);
    border: 3px solid rgb(7, 248, 248);
    color: rgb(41, 3, 3);
    border-radius: 0px;
    }

.button1 {
    background-color: rgb(63, 95, 165); 
    color: rgb(212, 243, 255); 
    border-radius: 10px;
    }

.button1:hover {
    background-color: rgb(7, 248, 248);
    border: 3px solid rgb(7, 248, 248);
    color: rgb(41, 3, 3);
    border-radius: 0px;
    }
div.b{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.checkout {
    background-color: rgb(63, 95, 165); 
    color: rgb(212, 243, 255); 
    border-radius: 10px;
    }

.checkout:hover {
    background-color: rgb(7, 248, 248);
    border: 3px solid rgb(7, 248, 248);
    color: rgb(41, 3, 3);
    border-radius: 0px;
    }

.admit {
    background-color: rgb(63, 95, 165); 
    color: rgb(212, 243, 255); 
    border-radius: 10px;
    }

.admit:hover {
    background-color: rgb(248, 7, 87);
    border: 3px solid rgb(248, 7, 19);
    color: rgb(41, 3, 3);
    border-radius: 0px;
    }

    text.lable{
    font-size:20px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:rgb(197, 243, 255);
}

text.lable_small{
    font-size:18px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    color:rgb(197, 243, 255);
}
    